<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css"/>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer src="/scripts/script.js"></script>
    <!-- Add this to the head section of your HTML file -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-6Z4Klgj2c+tz+JY2Ull+T3c+t6iDvHk1Vp1W16P51u8C/O6M7H6iwPnSf++nL2ed" crossorigin="anonymous">
    <script src=https://zeffy-scripts.s3.ca-central-1.amazonaws.com/embed-form-script.min.js></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2035811224563825"
     crossorigin="anonymous"></script>


      <!-- Specify the URL of your featured image -->
  <meta property="og:image" content="https://iili.io/JlcNlFR.md.png">

  <!-- Specify the title of your content -->
  <meta property="og:title" content="Gaming Updates | MW3 | WARZONE | META Louadouts">

  <!-- Specify the description of your content -->
  <meta property="og:description" content="UP YOUR GAME WITH PRO INSIGHTS.">

  <!-- Specify the type of your content (e.g., website, article) -->
  <meta property="og:type" content="website">

  <!-- Specify the URL of your page -->
  <meta property="og:url" content="https://clinquant-choux-3495ef.netlify.app/">

  <!-- Specify the Twitter card type (e.g., summary_large_image) -->
  <meta name="twitter:card" content="https://iili.io/JlcNlFR.md.png">

  <!-- Specify your Twitter username -->
  <meta name="twitter:site" content="@YOUR_TWITTER_USERNAME">

  <!-- Specify the title for Twitter -->
  <meta name="twitter:title" content="Your Page Title">

  <!-- Specify the description for Twitter -->
  <meta name="twitter:description" content="Your Page Description">

  <!-- Specify the image URL for Twitter -->
  <meta name="twitter:image" content="https://iili.io/JlcNlFR.md.png">
    
</head>
<body>

    {% include 'header.njk' %}
    <main>
        {{ content | safe }}
    </main>
    {% include  'footer.njk' %}

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>

</body>
</html>