<header class="navbar">
  <div class="navbar__container">
    <a href="/" id="navbar__logo">
      <img src="/assets/logo/truegamerlogowhite.png" alt="True Gamer Logo">
    </a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span><span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__links">HOME</a>
      </li>
      <li class="navbar__item dropdown">
         <a href="javascript:void(0);" class="navbar__links" id="selectGameLink">LOADOUTS<span class="arrow">&#9660;</span></a>
        <ul class="sublinks">
          <li><a href="/mw3">MW3</a></li>
          <li><a href="/wz/meta-loadout">WARZONE</a></li>
          
          <!-- Add more game links as needed -->
        </ul>
      </li>
      <li class="navbar__item">
        <a href="/news" class="navbar__links">NEWS</a>
      </li>
      <li class="navbar__btn">
        <a href="/" class="button">Donate ❤️</a>
      </li>

    </ul>
  </div>
</header>