<li>
      <wz-meta-loadouts class="snippet">
        <p class="snippet__wz-loadout-author">{{ collections['wz-meta-loadout'].data['wz-loadout-author'] }}</p>
        <p class="snippet__wz-gun-name">{{ collections['wz-meta-loadout'].data['wz-gun-name'] }}</p>
        <p class="snippet__wz-gun-category">{{ collections['wz-meta-loadout'].data['wz-gun-category'] }}</p>
        <p class="snippet__wz-loadout-date"><span>{{ collections['wz-meta-loadout'].data['wz-loadout-date'] | postDate }}</span></p>
        <img src="{{ collections['wz-meta-loadout'].data['image'] }}" alt="{{ collections['wz-meta-loadout'].data['imageAlt'] }}" class="snippet__image">
        <p class="snippet__wz-gun-range">{{ collections['wz-meta-loadout'].data['wz-gun-range'] }}</p>
        <p class="snippet__wz-gun-magazine">{{ collections['wz-meta-loadout'].data['wz-gun-magazine'] }}</p>
        <p class="snippet__wz-gun-stock">{{ collections['wz-meta-loadout'].data['wz-gun-stock'] }}</p>
        <p class="snippet__wz-gun-muzzle">{{ collections['wz-meta-loadout'].data['wz-gun-muzzle'] }}</p>
        <p class="snippet__wz-gun-barrel">{{ collections['wz-meta-loadout'].data['wz-gun-barrel'] }}</p>
        <p class="snippet__wz-gun-underbarrel">{{ collections['wz-meta-loadout'].data['wz-gun-underbarrel'] }}</p>
        <a href="{{ collections['wz-meta-loadout'].url }}" class="btn btn--primary">SHOW DETAILS</a>
      </wz-meta-loadouts>
</li>
    
     