---
layout: 'base.njk'
 
---


   <section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">WARZONE <span class="purple-text">LOADOUTS</span></h1>
        
        
        
      </div>
      
  </div>
</section>
       
<div id="wz-loadout-content" class="wz-loadout-section container">
  <ul role="list" class="wz-loadout__list flow">
    {%- for post in collections.wz | reverse-%}
      {%- if loop.index > 1 -%} {# Skip the first item #}
        {% include 'wz-meta-loadout-snippet.njk' %}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

  
    
