---
title: WZ
layout: 'base.njk'
---


   <section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">COMING <span class="purple-text">SOON!</span></h1>
        <p>Follow us on all platforms below.</p>
        
        {#
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          
        </div>
        #}
      </div>
      
  </div>
</section>

{#      
<section id="featured-articles-wz" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-left">NEWS</h2>
    

    <div class="swiper-container">
      <div class="swiper-wrapper">

        {%- for post in collections.featured | reverse -%}
          <div class="swiper-slide">
            {% include 'article-snippet.njk' %}
          </div>
        {%- endfor %}

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
  #}
    
  
    
