---
title: MW3 Meta Loadout
layout: 'base.njk'
---


   <section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">TGN <span class="purple-text">NEWS.</span></h1>
        <p>Stay up to date with the latest Gaming news.</p>
        
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          
        </div>
      </div>
      
  </div>
</section>
       
<div id="blog-content" class="section container">
<h1 class="section-title"></h1>

<ul role="list" class="articles__list flow">

  {%- for post in collections['mw3-meta-loadout'] -%}
    {% include 'mw3-meta-loadout-snippet.njk' %}


  {%- endfor %}

</ul>

  </div>
  
    
