---
title: MW3
layout: 'base.njk'
---


   <section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">TGN <span class="purple-text">NEWS.</span></h1>
        <p>Stay up to date with the latest Gaming news.</p>
        
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          
        </div>
      </div>
      
  </div>
</section>
       
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-left">NEWS</h2>
    

    <div class="swiper-container">
      <div class="swiper-wrapper">

        {%- for news in collections.MW3 -%}
          <div class="swiper-slide">
            {% include 'article-snippet.njk' %}
          </div>
        {%- endfor %}

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
  
    
