:root {
  --fs-100: .9rem;
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Asap";
  --ff-heading: "Asap";
  
  --fw-100: 100;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  

  --clr-primary-200: rgb(255, 255, 255);
  --clr-primary-300: #00c7a2;
  --clr-primary-400: #BE4644;
  --clr-primary-500: #6261D9;

  --clr-neutral-100: rgb(255, 255, 255);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-100: .98rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Asap';
  src: url(fonts/Asap_Complete/Asap-Bold.ttf);
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  letter-spacing: .5px;
  
}

.hero p {
  color:var(--clr-primary-400);
}

.hero__image {
  border-radius: 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); /*add blurred effect using box-shadow */
}

.snippet__image {
  border-radius: 25px;
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.5); /* Add blurred effect using box-shadow */
}

.snippet p  {
  color: rgb(255, 255, 255);
}

#blog-content .snippet p  {
  color: rgb(204, 204, 204);
  
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #0B0A0E;
  padding-bottom: 1rem;
}







/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  /*max-width: 100%;*/
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-300);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-300);
}

section,
.section {
  padding: min(5vh, 10em) 0;
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-200);
  font-family:'Asap';
  font-weight: 900;
}

.article-title {
  font-size: var(--fs-400);
  padding-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 1px;;
}

.section-title {
  font-size: var(--fs-500);
}

.purple-text {
  color: var(--clr-primary-500);
}







@media (min-width: 45em) {
  .article-title {
    font-size: var(--fs-600);
    padding: 10px;
    letter-spacing: 1px;;
  }
}


/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}









/* Add this to your stylesheet */


/* Update the CSS for .swiper-container */
.swiper-container {
  width: 100%; /* Adjust the width as needed */
  max-width: 600px; /* Set a max-width to control the size on larger screens */
  height: 250px; /* Adjust the height as needed */
  overflow: hidden; 
  text-decoration: none;
  padding: 20px;
  margin-left: -.6rem;
}

/* Optionally, adjust the styling for the slides */
.swiper-slide {
  background: linear-gradient(180deg, #0b0a0e99, #1212156b, #17172199, #000000 , #000000); /* Set background color if needed */
  border: 0px solid #000000 ; /* Add a border for separation */
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
  
}

/* Remove li::marker from each slide in the Swiper container */
.swiper-container li {
  list-style-type: none;
}






































.game-item {
  position: relative;
  display: inline-block;
  margin: 10px; /* Adjust margin as needed */
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 5px 1px 5px;
  background-color: var(--clr-primary-500);
  color: white;
  font-size: 10px;
  border: 2px solid var(--clr-neutral-200);
  z-index: 1;
  border-bottom-left-radius: 10px;
}











/* For desktop devices with a minimum width of 768px */
@media (min-width: 768px) {
  .games-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(16.66% - 20px), 1fr)) !important; /* Adjust the width as needed */
  }
}











.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* Adjust the width as needed */
  gap: 10px;
}

.game {
  border: none;
  text-align: center;
}

.game-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Adjust the radius as needed */
  height: 0;
  padding-bottom: 133.33%; /* 4:3 aspect ratio (3 / 4 * 100) */
}

.game-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover container */
  max-width: 100%;
}

.game-info p{
  display: none; /* Hide the description */
}

.game h3 {
  margin: 10px 0;
}

.game h3 {
  color:#ddd;
  font-size: var(--fs-300);
}




.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  display: none;
}

.headline h2{
  font-size: var(--fs-400);
}

.sort-filter {
  display: flex;
  gap: 10px;
  padding-right: 1px;
}

#sort-filter {
  margin-left: auto; /* Push "Sort by" to the right */
  border-color: #dddddd00;
  background-color: #00000000;
  color: #ddd;
}




/* Additional styling as needed */



/* Add this style to your existing CSS */
.sublinks {
  display: none;
  position: sticky;
  top: 100%;
  background-color: #000;
  z-index: 1;
  width: 200%;
  list-style: none;
}

.dropdown:hover .sublinks {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}

.sublinks li {
  flex: 0 0 auto;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
}

.sublinks a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2px;
}

.sublinks a:hover {
  background-color: none;
}

/* Update your media query for non-mobile devices */
@media screen and (min-width: 961px) {
  .navbar__container {
    height: 50px;
    padding: 0 50px;
  }

  #navbar__logo {
    font-size: 2rem;
    padding-left: 0;
  }

  .navbar__menu {
    display: flex;
    position: relative;
    opacity: 1;
    top: 0;
    background: transparent;
    box-shadow: none;
    height: auto;
  }

  .navbar__item {
    height: 50px;
    position: relative;
  }

  .navbar__links {
    width: auto;
    padding: 0 1rem;
    font-size: 15px;
  }

  .navbar__btn {
    padding: 0 0rem;
  }

  .button {
    height: 50%;
    width: 50%;
  }

  .navbar__toggle {
    display: none;
  }

  #mobile-menu {
    display: none;
  }
}












/* For desktop devices with a minimum width of 768px */
@media (min-width: 768px) {
  .games-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr)); /* Adjust the width as needed */
  }

  .swiper-container {
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Set a max-width to control the size on larger screens */
    height: 350px; /* Adjust the height as needed */
    overflow: hidden; 
    text-decoration: none;
    padding: 10px;
    
    
  }
  .sublinks a:hover {
    background-color: var(--clr-primary-500); /* Add a background color on hover */
  }
 
}



/* Updated styles for mobile responsiveness */
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__item {
    width: 100%;
    text-align: center;
  }

  .navbar__item.dropdown {
    position: relative; /* Keep relative positioning for mobile */
  }

  .sublinks {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #13131300; /* Adjust background color */
    width: 100%;
    font-size: var(--fs-100);
    padding: 1rem 0; /* Adjust padding as needed */
    
    z-index: 99;
    list-style: none; /* Remove bullets */
    margin: 0; /* Remove default margin */
  }

  .navbar__item.dropdown:hover .sublinks {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: -1.5rem;
}

  .sublinks a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: #a5a4f2;
    text-decoration: none;
    transition: color 0.3s ease;
    list-style: none;
  }

  .sublinks a:hover {
    color: #6261D9; /* Adjust color on hover */
  }

  /* Added styles for the arrow */
  .arrow {
    
    font-size: 0.5rem;
    
  }
}



































.navbar {
  background: #0B0A0E; /* Change background color */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.rem;
  position: sticky;
  top: 0;
  z-index: 999;
  white-space: nowrap; /* Prevent text from wrapping */
  box-shadow: 0 .8px 1.9px #151416; /* Add blurred effect using box-shadow */

}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

#navbar__logo img {
  width: 120px; /* Adjust the size according to your preference */
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  
  width: 100%;
}

.navbar__item {
  display: flex;
  height: 70px;
  padding: 10px;
  justify-content: space-between; /* Add this line to evenly space items */
  width: 100%;
}


.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:135px;
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
  list-style: none; /* Remove default list-style */
  transition: all 0.3s ease;
  font-size: 15px;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1.5px 20px;
  height: 50%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #BE4644;
  background: -webkit-linear-gradient(to right, #6261D9, #969dff, #6261D9);
  background: linear-gradient(to right, #6261D9, #969dff, #6261D9);
  color: #fff;
  transition: all .3s ease;
}


.button:hover {
  background: #b7bbf6;
  transition: all .7s ease;
  color: black;

}

.navbar__links:hover {
  color: #6261D9;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {




  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -10500px;
    opacity: 0; /* Set initial opacity to 0 */
    transition: top 0.01s ease, opacity 0.5s ease;
    z-index: -1;
    background: #131313;
    margin-left: 0rem;
    padding: 0;
  }

  /* Define the "no-scroll" class */
.no-scroll {
  overflow: hidden;
}

/* Apply the "no-scroll" class only for devices with a maximum width of 768 pixels */
@media (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
}

  
  
  .navbar__menu.active {
    background: #000000fb;
    top: 100%;
    opacity: 1; /* Set final opacity to 1 */
    transition: top 0.01s ease, opacity 0.5s ease; /* Adjusted the transition properties */
    z-index: 99;
    height: 100vh;
    font-size: 1.6rem;
    width: 100%;
    margin-left: 0rem;
    padding: 0;
    box-shadow: 0 .8px 1.9px #868686; /* Add blurred effect using box-shadow */
    touch-action: none; 
    
  }
  
  

  #navbar__logo {
    padding-left: 25px;
    width: 50px;
  }

  #navbar__logo img {
    width: 120px; /* Adjust the size according to your preference */
}


  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-evenly;
    font-size: var(--fs-500);
  }

  .navbar__btn {
    padding-bottom: 15rem;
    padding-top: 10rem;
    
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 10%;
    right: 7%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}








/* //////////////////////
  Footer
  /////////////////////// */

  .site-footer {
    --logo-color: var(--clr-primary-500);
    padding: 1rem 0;
    padding-top: 0rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: 2px solid #161414;
    

  }

  .site-footer div {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    max-width: 100%;
    margin-top: -.4rem;
}

.site-footer div a.social-icon {
  width: 2rem; 
  padding-top: 0px;
  height: 5rem;
  margin-top: -1rem;
  
}





  
  .site-footer a {
    
    display: flex;
      justify-content: space-around;
      text-decoration: none;
      color: #ddd;
      font-size: 12px;
  }
 
  .site-footer p {
    padding: 1rem;
    margin: 0; /* Remove default margin for paragraphs */
    color: #ddd;
    font-size: 10px;
  }



  

/* //////////////////////
  Homepage
  /////////////////////// */

  .hero__content {
    text-align: center;
  }
  

  .flex-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Additional styling for the buttons */
  .flex-group a {
    margin-right: 0px; /* Adjust the margin as needed */
  }
  
  .hero {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom: 2px solid #161414; /* Add your border color */
  }
  
  

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  display: none;
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: #0B0A0E;
  
}

.articles__list {
  --flow-spacer: 3rem;
  margin: -1rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 3rem;
  }

  .main-article  {
    font-size: var(--fs-300);
    font-weight: var(--fw-600);
  }

  .main-article img {
    max-width: 75%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Set left and right margins to auto for centering */
}


  

  .main-article {
    color: rgb(225, 225, 225);
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-100);
    opacity: .9;
  }

  @media (min-width: 45em) {
    .main-article  {
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
    }

    .main-article__figure figcaption {
      margin: 1rem 0;
      font-size: var(--fs-700);
      opacity: .9;
    }
  }

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet .article {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
  
    
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
}
.snippet__title {
  grid-area: title;
  padding: 10px;
}

.featured-articles p.snippet__body {
  color: black;
  display: none;
  padding: 10px;
}

h3.snippet__title  {
  color: rgb(255, 255, 255);
  font-size: var(--fs-300);
  padding: 10px;
}

.featured-articles h3.snippet__title  {
  color: rgb(255, 255, 255);
  padding: 10px;
}

.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
  padding: 10px;
}



.snippet__meta span {
  color: var(--clr-neutral-400);
  font-size: 12px;
}

.snippet .btn {
  grid-area: button;
  display: none ;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
} 

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}




/* //////////////////////
  WZ Meta Loadout snippets
  /////////////////////// */


/* Add the search filter styles to the Warzone Loadout snippet */
#wz-loadout-content .default-filter {
  margin-bottom: 5px;
  margin-top: 5px; /* Adjust the spacing as needed */
}

#wz-loadout-content .default-filter__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background: linear-gradient(48deg, #06060c, #26254a, #373478, #383686 , #06060c); /* Adjust the background color as needed */
  border-radius: 10px;
  margin-bottom: 10px;
  color: #000000;
  font-size: medium;
}

#wz-loadout-content .meta-section-title  {
  text-align: center;
  color: var(--clr-neutral-100);
  
  font-size: medium;
}

#wz-loadout-content .search-by-gun {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

#wz-loadout-content .wz-text-field__input {
  border: 1px solid #000000; /* Adjust the border color as needed */
  border-radius: 15px;
  padding: 1px 15px;
  font-size: small;
}

#wz-loadout-content .default-filter__toggle-btn {
  background-color: var(--clr-neutral-100); /* Adjust the background color as needed */
  color: var(--clr-neutral-200); /* Adjust the text color as needed */
  border: 1px solid #000000; /* Adjust the border color as needed */
  border-radius: 5px;
  padding: 1px 15px;
  cursor: pointer;
}

#wz-loadout-content .default-filter__body {
  display: none;
  
}

#wz-loadout-content .default-filter.show-filter .default-filter__body {
  display: block;
}

#wz-loadout-content .default-filter__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: linear-gradient(48deg, #06060c, #26254a, #373478, #383686 , #383686);
  border-radius: 0px 0px 0px 15px;
  padding: 10px 55px;
  border-radius: 10px;
  align-items: center;
}

#wz-loadout-content .default-filter__label {
  font-weight: bold;
  margin-bottom: -10px;
  color: var(--clr-neutral-200);
  font-size: 14px;
}

#wz-loadout-content .el-select-dropdown {
  width: 100%;
  max-width: 336px;
}

/* Add the styles for the grid layout */
#wz-loadout-content .wz-loadout__list.flow {
  display: grid;
  gap: 5px; /* Adjust the gap as needed */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


  #wz-loadout-content .snippet {
    display: grid;
    gap: 1em;
    grid-template-areas:
      "gunName gunName"
      "meta meta"
      "tier authorBody"
      "empty button"
      "image image"
      "range range"
      "magazine magazine"
      "stock stock"
      "muzzle muzzle"
      "barrel barrel"
      "underBarrel underBarrel";
      
      grid-template-columns: 1fr 50%;
      grid-template-rows: min-content min-content min-content ;
    /* Move image to the last position */
    background: linear-gradient(48deg, #06060c, #26254a, #373478, #383686 , #383686); /* Gradient from dark gray to #6261D8 */
    padding: 20px;
    
    border-radius: 20px;
    justify-items: center;
    text-align: left;
    font-size: 13px;
    font-weight: var(--fw-300);
  }
  

@media (min-width: 650px) {
  #wz-loadout-content .snippet {
      grid-template-areas:
      "gunName gunName"
      "meta meta"
      "tier authorBody"
      "empty button"
      "image image"
      "range range"
      "magazine magazine"
      "stock stock"
      "muzzle muzzle"
      "barrel barrel"
      "underBarrel underBarrel";;
  }

  .flow > *:where(:not(:first-child)) {
    margin-top: 0px !important;
  }

 /* Add an empty area named "empty" */
.empty {
  grid-area: empty;
}



}


  
  

  #wz-loadout-content .wz-loadout__list.flow {
    padding-top: 0.5rem;
    padding-bottom: 10rem;
  }
  

  #wz-loadout-content  p {
    color: var(--clr-primary-100) !important;
    padding-left: 10px;
  }

  

  
  
  #wz-loadout-content p.snippet__wz-gun-name {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
    padding-left: 10px;
  }

  #wz-loadout-content p.snippet__weapon-tier {
    background: linear-gradient(48deg, #ff004c, #ff0055, #ff006a, #ff009d , #e600ff);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    padding: 3px;
    color: var(--clr-primary-200) !important;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center;
}



  









  
  #wz-loadout-content p.snippet__wz-loadout-author {
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 0px;
    
  }

  #wz-loadout-content p.snippet__wz-loadout-date {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    
    
  }

  wz-meta-loadout p.snippet__wz-gun-category {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-range {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-magazine {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-stock {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */  
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-muzzle {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-barrel {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-gun-underbarrel {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }

  wz-meta-loadout p.snippet__wz-loadout-date {
    background-color: var(--clr-primary-200);
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    width: 100%;
    padding: 3px;
  }


  #wz-loadout-content .snippet__image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4 / 1; /* Adjusted aspect ratio to 3:1 */
    object-fit: cover;
    border-radius: 10px;
    padding: 1px;
    box-shadow: none;
  }
  
  #wz-loadout-content .snippet__wz-gun-name {
    grid-area: gunName;
    color: var(--clr-neutral-900);
    font-size: var(--fs-300);
  }
  
  #wz-loadout-content .snippet__wz-gun-name a {
    color: inherit;
    text-decoration: none;
  }
  
  #wz-loadout-content .snippet__wz-gun-name a:hover,
  #wz-loadout-content .snippet__wz-gun-name a:focus {
    color: var(--clr-primary-500);
  }

  #wz-loadout-content .snippet__weapon-tier {
    grid-area: tier;
    color: var(--clr-neutral-300);
  }
  
  #wz-loadout-content .snippet__wz-gun-category {
    grid-area: meta;
    color: var(--clr-neutral-300);
  }
  
  #wz-loadout-content .snippet__wz-loadout-date {
    grid-area: authorBody;
    color: var(--clr-neutral-300);
    
  }
  #wz-loadout-content .snippet__wz-loadout-author {
    grid-area: authorBody;
  }

  #wz-loadout-content .snippet__wz-loadout-author span {
    color: var(--clr-neutral-100);
  }
  
  #wz-loadout-content .snippet__wz-loadout-date span {
    color: var(--clr-neutral-100);
    font-size: 10px;
    
  }

  wz-meta-loadout .snippet__wz-gun-range {
    grid-area: range;
  }

  wz-meta-loadout .snippet__wz-gun-magazine {
    grid-area: magazine;
  }

  wz-meta-loadout .snippet__wz-gun-stock {
    grid-area: stock;
  }

  wz-meta-loadout .snippet__wz-gun-muzzle {
    grid-area: muzzle;
  }

  wz-meta-loadout .snippet__wz-gun-barrel {
    grid-area: barrel;
  }

  wz-meta-loadout .snippet__wz-gun-underbarrel {
    grid-area: underBarrel;
  }

  wz-meta-loadout snippet__weapon-tier {
    grid-area: tier;
  }


  #wz-loadout-content .toggle-details-btn {
    grid-area: button;
    border-radius: 10px;
    border-color: var(--clr-primary-500);
    background-color: #ffffff;
    color: var(--clr-primary-100);
    padding: 10px 15px; /* 10px top/bottom, 15px left/right */
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

#wz-loadout-content .toggle-details-btn:active,
#wz-loadout-content .snippet.show-details .toggle-details-btn {
    grid-area: button;
    border-radius: 10px;
    border-color: var(--clr-primary-200);
    background-color: #ffffff00;
    color: var(--clr-primary-200);
    padding: 5px 15px; /* 10px top/bottom, 15px left/right */
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}



  

  #wz-loadout-content .snippet p6 {
    color: #00c7a2 !important;
    font-weight: 900 !important;
    
    
  }


  
  
  
 /* Initially hide the details */
#wz-loadout-content .snippet .snippet__image,
#wz-loadout-content .snippet .snippet__wz-gun-range,
#wz-loadout-content .snippet .snippet__wz-gun-magazine,
#wz-loadout-content .snippet .snippet__wz-gun-stock,
#wz-loadout-content .snippet .snippet__wz-gun-muzzle,
#wz-loadout-content .snippet .snippet__wz-gun-barrel,
#wz-loadout-content .snippet .snippet__wz-gun-underbarrel {
  display: none;
}

/* Show the details when the 'show-details' class is present */
#wz-loadout-content .snippet.show-details .snippet__image,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-range,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-magazine,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-stock,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-muzzle,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-barrel,
#wz-loadout-content .snippet.show-details .snippet__wz-gun-underbarrel {
  display: block;
}

/* Adjust the height of .snippet when details are not present */
#wz-loadout-content .snippet:not(.show-details) {
  height: 220px; /* Adjust the height as needed */
}

  
  
 
  

  

  


.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: .75em .75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-300);
  border: 2px solid var(--clr-primary-500);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-300);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}